@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

/* Cabeçalho */
header {
    background-image: url(assets/images/header-background.png);
    background-size: cover;
    height: 505px;
    color: #FFFFFF;
    background-position: center;
}

nav {
    width: 757px;
    height: 270px;
    margin: auto;
    position: relative;
    text-align: center;
    top: 64px;
    gap: 24px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 100%;
    display: flex;
    text-align: center;
    width: 313px;
}

.header-text p {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.header-buttons {
    height: 44px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.button-1,
.button-2 {
    width: 205px;
    height: 44px;
    border-radius: 28px;
    border: none;
    cursor: pointer;
}

.button-2 {
    width: 281px;
    background-color: #23272A;
    color: white;
}

/* Fim do Cabeçalho */

/* Principal */
.section-1,
.section-2,
.section-3,
.section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 56px 0;
    height: 448px;
}

img {
    width: 607px;
    height: 394px;
}

.section-1-text,
.section-2-text,
.section-3-text,
.section-4-text {
    width: 348px;
    height: 374px;
    color: #23272A;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 800;
    font-size: 1.8rem;
}

.section-1-text h2,
.section-2-text h2,
.section-3-text h2,
.section-4-text h2 {
    width: 329px;
    margin-bottom: 15px;
}

.section-1-text p,
.section-2-text p,
.section-3-text p,
.section-4-text p {
    font-weight: 400;
    font-size: 1rem;
}

.section-2,
.section-4 {
    background-color: #F6F6F6;
}

.section-4 {
    height: 744px;
    margin: 0;
    flex-direction: column;
}

.section-4 img {
    width: auto;
}

.section-4-text,
.section-4-text h2 {
    width: 802px;
    display: flex;
    align-items: center;
    text-align: center;
    height: auto;
}

.section-4-text h2 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    width: 608px;
}

.section-4-text {
    margin: 0;
}

/* Rodapé */
footer {
    background-color: #23272A;
    height: 134px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img {
    width: 230px;
    height: 63px;
}

/* ------ Responsividade ------*/
@media (min-width: 400px) and (max-width: 1024px) {

    header,
    nav {
        background-image: url(/assets/images/header-background-mobile.png);
        width: auto;
        height: 506px;
        background-size: cover;
    }

    h1 {
        font-size: 2rem;
        width: 278px;
        text-align: left;
    }

    .header-text {
        margin: 24px;
        align-items: flex-start;
    }

    .header-text p {
        text-align: left;
    }

    .header-buttons {

        flex-direction: column;
        height: 122px;
        align-self: center;
    }

    .button-1,
    .button-2 {
        width: 381px;
        margin: 5px 0;
        height: 54px;
    }

    .section-1,
    .section-2,
    .section-3,
    .section-4 {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 35px 24px;
        margin: 0;
    }

    .section-1 {
        margin-top: 40px;
    }

    img {
        width: 379px;
        height: 252px;
    }

    .section-1-text,
    .section-2-text,
    .section-3-text,
    .section-4-text {
        height: auto;
    }

    .section-1-text h2,
    .section-2-text h2,
    .section-3-text h2,
    .section-4-text h2 {
        font-size: 1.4rem;
        font-weight: 800;
    }

    .section-2 {
        flex-direction: column-reverse;
    }

    .section-4-text,
    .section-4-text h2 {
        width: auto;
        text-align: left;
        font-size: 2rem;
    }

    footer {
        width: auto;
    }

    footer img {
        min-width: 162px;
        min-height: 45px;
    }
}